// home.jade is the default portal for teachers
doctype html
html(class='no-js', lang='en'
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= INSVRT Dashboard
    link(rel='stylesheet', href='foundation/css/foundation.css')
    script(src='foundation/js/vendor/modernizr.js')
    link(href='http://fonts.googleapis.com/css?family=Oswald:500,300', rel='stylesheet', type='text/css')
    
  body
    nav(class='top-bar', data-topbar)
    ul(class='title-area')
      li(class='name')
        h1(a(href='#')=INSERT NAME HERE)
//     Remove the class 'menu-icon', to get rid of menu icon. Take out 'Menu', to just have icon alone
      li(class='toggle-topbar menu-icon')
        a(href='#')
          span=Menu
    section(class='top-bar-section')
//     Right Nav Section
      ul(class='right')
        li(class='active')
          a(href='#')=Right Button Active
        li(class='has-dropdown')
          a(href='#')=Login/Logout
          ul(class='dropdown')
            li(a(href='#')=First link in dropdown)
//      Left Nav Section
      ul(class='left')
        li(class='active')
          a(href='#')=Home
    br
    br

    div(class='row')
      div(class='large-12 columns')
        h1=Dashboard

    div(class='row')
      div(class='large-2 medium-10 columns')
        div(class='panel')
          a(href='#', class='large radius button'=Add Test
          a(href='#', data-reveal-id='firstModal', class='large radius button'=Edit Test
          div(style='position:absolute; float:left', id='firstModal', class='reveal-modal', data-reveal)
                a(class='close-reveal-modal')=&#215;

      div(class='large-10 medium-2 columns')
        div(class='panel')
          div(class='row')
            div(class='callout panel')
              div(class='row')
                div(class='large-3 columns')
                  center
                    h4=Question Type
                      select
                        option(value='sa')=Short Answer
                        option(value='mc')=Multiple Choice
                        option(value='matching')=Matching
                        option(value='fuck')=Other

                div(class='large-7 columns')
                  center
                    h4=Question Info
                  div(class='row')
                    div(class='large-12 columns')
                      div(class='row collapse')
                        div(class='small-2 columns')
                          span(class='prefix')=Question:
                            div(class='small-10 columns')
                              input(type='text', placeholder='e.g. How big is China...?')

                  div(class='row')
                    div(class='large-12 columns')
                      div(class='row collapse')
                        div(class='small-2 columns')
                          span(class='prefix')Answer:
                        div(class='small-10 columns')
                          input(type='text', placeholder='e.g. Very Small... (Seperate Multiple Answers with Commas)')

                div(class='large-2 columns')
                  div(class='row')
                    div(class='large-12 columns')
                      a
                        h4(stlye='float:right;', align='right')
                          FONT(color='F21111')=&times;
                            div(class='row collapse')
                              div(class='small-5 columns')
                                span(class='prefix')Worth/span)
                              div(class='small-4 columns')
                                input(type='text', placeholder='')
                              div(class='small-3 columns')
                                span(class='postfix')=Pts.

          div(class='row')
            div(class='callout panel')
              div(class='row')
                div(class='large-3 columns')
                  center
                    h4=Question Type
                      select
                        option(value='mc')=Multiple Choice
                        option(value='sa')=Short Answer
                        option(value='matching')=Matching
                        option(value='fuck')=Other

                div(class='large-7 columns')
                  center
                    h4=Question Info

                  div(class='row')
                    div(class='large-12 columns')
                      div(class='row collapse')
                        div(class='small-2 columns')
                          span(class='prefix')Question:/span)
                        div(class='small-10 columns')
                          input(type='text', placeholder='e.g. How big is China...?')

                  div(class='row')
                    div(class='large-12 columns')
                      div(class='row collapse')
                        div(class='small-2 columns')
                  br

                  center
                    h6=Answer Choices
                      select
                        option(value='two')=2
                        option(value='three')=3
                        option(value='four')=4
                        option(value='five')=5

                  center
                    h6=Correct Answer
                      select
                        option(value='a')=A
                        option(value='b')=B
                        option(value='c')=C
                        option(value='d')=D
                        div(class='small-9 columns')
                          div(class='row')
                        div(class='large-12 columns')
                          div(class='row collapse')
                            div(class='small-2 columns')
                              span(class='prefix')=A:
                            div(class='small-10 columns')
                              input(type='text', placeholder='Apple')

                              div(class='row')
                                div(class='large-12 columns')
                                  div(class='row collapse')
                                    div(class='small-2 columns')
                                      span(class='prefix')B:/span)
                                    /div)
                                    div(class='small-10 columns')
                                      input(type='text', placeholder='Banana')


                              div(class='row')
                                div(class='large-12 columns')
                                  div(class='row collapse')
                                    div(class='small-2 columns')
                                      span(class='prefix')C:/span)
                                    /div)
                                    div(class='small-10 columns')
                                      input(type='text', placeholder='Carrot')


                              div(class='row')
                                div(class='large-12 columns')
                                  div(class='row collapse')
                                    div(class='small-2 columns')
                                      span(class='prefix')D:/span)
                                    /div)
                                    div(class='small-10 columns')
                                      input(type='text', placeholder='Dick')

                div(class='large-2 columns')
                  a
                    h4(stlye='float:right;', align='right')
                      FONT(color='F21111')&times;
                  div(class='row')
                  br
                  br
                    div(class='large-12 columns')

                      center)input(id='checkbox1', type='checkbox')label for='random')Randomize?/label)/center)
                    /div)
                            div(class='large-12 columns')

                              div(class='row collapse')
                                div(class='small-5 columns')
                                  span(class='prefix')Worth/span)
                                /div)
                                div(class='small-4 columns')
                                  input(type='text', placeholder=''/)
                                /div)
                                div(class='small-3 columns')
                                  span(class='postfix')Pts./span)


a(href='#', class='large radius button')Add Question/a) /center)

  script src='foundation/js/vendor/jquery.js')
  script src='foundation/js/foundation.min.js')
  $(document).foundation();
